.functions {
    position: relative;
    z-index: 2;
    padding: 148px 0;
    background: $lightGray;
    display: none;

    @media (min-width: $tablet) {
        display: block;
        padding: 132px 0;
    }

    &__wrap {
        max-width: rem(1742);
        padding: 0 15px;
        margin: 0 auto;
        position: relative;

        @media (max-width: $pc) {
            max-width: rem(1298);
        }

        .girl-pic{
            position: absolute;
            max-width: 982px;
            bottom: 7px;
            left: 0;
            transform: translateY(50%);

            @media (max-width: $pc) {
                max-width: 868px;
                left: -10%;
            }
            @media (max-width: 1200px) {
                max-width: 700px;
                bottom: -52px;
            }
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        grid-template-rows: repeat(3, 400px);
        gap: 40px;
        @media (max-width: $pc) {
            gap: 28px;
            grid-template-rows: repeat(3, 476px);
        }
        @media (max-width: 1200px) {
            grid-template-rows: repeat(3, 450px);
        }
    }
    &__item:not(.item__hidden) {
        position: relative;
        padding: 40px;
        border-radius: 52px;
        background: $white_35;
        box-shadow: inset 0 0 0 8px $white_35;

        @media (max-width: $pc) {
            padding: 36px;
        }
    }
    &__item-title {
        font-size: rem(32);
        line-height: 120%;
        font-weight: 900;
        margin-bottom: 24px;

        @media (max-width: $pc) {
            font-size: rem(28);
            line-height: 34px;
        }
        @media (max-width: 1200px) {
            font-size: rem(23);
            line-height: 30px;
        }
    }
    &__item-content {
        font-size: rem(18);
        line-height: 130%;
        font-weight: 500;

        @media (max-width: 1200px) {
            font-size: rem(16);
        }

        li{
            margin-bottom: 12px;
            position: relative;
            padding-left: 20px;

            &::before{
                content: '';
                position: absolute;
                width: 16px;
                height: 16px;
                background: url(@img/icons/star-small.svg) no-repeat center;
                background-size: 16px;
                left: 0;
                top: 4px;
            }
        }
    }
    &__item-icon{
        position: absolute;
        bottom: 40px;
        right: 40px;
    }

    .btn{
        float: right;
        margin-top: 92px;
        margin-bottom: 40px;

        @media (max-width: $pc) {
            margin-bottom: 0;
        }
    }
}

.item__hidden {
    position: relative;

    img{
        position: absolute;
        z-index: 2;

        @media (max-width: $pc) {
            max-width: 462px;
            height: auto;
            left: -20px;
            bottom: -75px;
        }
        @media (max-width: 1200px) {
            max-width: 410px;
            bottom: -65px;
        }

        
    }
}